
.pubblicacommento {
    font-size: 10px;
    padding: 10px;
    background-color: rgb(36, 186, 228) ;
  }
  .textareacommenti
  {
    width: 80%; 
    height: 50px; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    font-size: 14px; 
    color: #333; 
    background-color: #fffdfdea; 
    resize: vertical; /* Permette di ridimensionare solo verticalmente */
    transition: border-color 0.3s; /* Transizione per il cambiamento di colore */
}

.textareacommenti:focus {
    border-color: #4367e0; /* Colore del bordo quando è in focus */
    outline: none; /* Rimuove il contorno di default */
}