.Menu {
        position: fixed;
        width: 100vw;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 5vw;
        box-sizing : border-box;
        gap: 2vh;
        left: 0;
        bottom:0;
}

.start {
    display:flex;
    gap:2vw;
}



.buttonHome1
{
    background-color: rgb(255, 255, 255);
    padding: 7 px;

    


}
/*
.buttonHome1:hover {
    background-color:aqua;
}*/

 .buttonLogout {
    background-color: rgb(0, 0, 0);

  }
  
  .imma
  {
    width: 25px; 
    height:25px;
  }

  