.Menu {
        position: fixed;
       
        width: 100vw;
        height: 7vh;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 5vw;
        box-sizing : border-box;
        gap: 2vh;
        left: 0;
        top:0;
}

.start {
    display:flex;
    gap:2vw;
}

.buttonHome
{
    background-color: black;

}

.buttonHome :hover {
    background-color: #b13535; 
  }
  
 .logout-button:hover {
    background-color: #5E35B1; /* Viola scuro al passaggio del mouse */
  }
  