body {
    background-color: #B2EBF2; /* Celestino chiaro */
    margin: 0; /* Rimuove il margine di default del body */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza del 100% della viewport */
}

.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px; /* Spazio tra gli elementi */
    padding: 20px; /* Padding per il form */
    box-sizing: border-box; /* Include il padding nella dimensione totale dell'elemento */
    width: 100%; /* Occupa tutta la larghezza disponibile */
    max-width: 400px; /* Larghezza massima per il form */
    border: 2px solid #5C6BC0; /* Bordo blu lavanda */
    border-radius: 10px; /* Angoli arrotondati */
    background-color: white; /* Sfondo bianco per contrasto */
}

.signup h1 {
    color: #0c169c; /* Blu scuro */
    margin-bottom: 20px; /* Spazio sotto il titolo */
}

.signup h2 {
    color: #5C6BC0; /* Blu lavanda */
    margin-bottom: 20px; /* Spazio sotto il sottotitolo */
}

.signup input {
    padding: 10px;
    margin: 5px;
    width: 100%; /* Occupa la larghezza completa del modulo */
    border: 1px solid #ccc; /* Aggiunge un bordo agli input */
    border-radius: 5px; /* Aggiunge angoli arrotondati agli input */
    box-sizing: border-box; /* Include il padding nella dimensione totale dell'input */
    font-size: 18px; /* Dimensione del font uniforme */
}

.signup button {
    padding: 10px 20px; /* Padding orizzontale per migliorare l'aspetto */
    margin: 10px;
    color: white;
    background-color: #7E57C2; /* Viola medio */
    border: none; /* Rimuove il bordo di default del pulsante */
    border-radius: 5px; /* Angoli arrotondati al pulsante */
    cursor: pointer; /* Cambia il cursore quando si passa sopra il pulsante */
    font-size: 18px; /* Dimensione del font uniforme */
}
/*
.signup button:hover {
    background-color: #5E35B1;  Viola scuro al passaggio del mouse 
}
*/
.error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

.success {
    color: green;
    font-weight: bold;
    margin: 10px 0;
}
